* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


.container {
    width: 100%;
    height: 100vh;
    background: #eeedff;
    position: relative;
}

.menu-icon {
    width: 35px;
    position: absolute;
    top: 5%;
    right: 10%;
    cursor: pointer;
    transition: 1s;
}

.menu-box {
    width: 60%;
    background: rgb(36, 36, 73);
    position: absolute;
    top: -500%;
    left: 20%;
    right: 20%;
    padding: 40px 90px;
    transition: top 1s;
    box-shadow: 0 5px 30px;
    border-radius: 5px;
    opacity: 0.95;
}

.right-links {
    position: absolute;
    top: 30px;
    right: 30px;
    display: flex;
    align-items: center;
}

.right-links img {
    width: 50px;
    margin-left: 20px;
    cursor: pointer;
}

.right-links a {
    text-decoration: none;
    color: #fff;
    background: #f92537;
    padding: 15px 40px;
    border-radius: 30px;
}

.menu-links a{
    text-decoration: none;
    color: #fff;
    display: block;
    width: fit-content;
    margin: 30px 0;
    font-size: 36px;
}

.menu-links a::after {
    content: '';
    width: 30px;
    height: 5px;
    background: #f92537;
    display: none;
    margin-left: 10px;
    margin-bottom: 5px;
}

.menu-links a:hover {
    color: rgb(255, 134, 134);
    transition: color 1s;
}

.menu-links a:hover::after{
    display: inline-block;
}

header {    
    color: white;
    background: #eeedff;
    padding: 15px 20px;
    display: flex;
    justify-content: left;
}

h1 {
    background-color: rgb(36, 36, 73);
    padding: 25px;
    border-radius: 5px;
    transition: 1s;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}

h1:hover {
    background-color: rgb(157, 157, 192);
    transition: 1s;
    cursor: pointer;
    border-radius: 20px;
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
}

header a {
    text-decoration: none;
    color: white;
    transition: 1s;
}

header a:hover {
    color: rgb(10, 10, 10);
    transition: 1s;
}

main {
    background: #42c9d352;
    border-radius: 5px;
    line-height: 140%;
    display: flex;
    justify-content: center;
    padding: 1%;
    opacity: 99.8%;
}

h2 {
    background: #42c9d352;
    padding: 1%;
    border-radius: 10px 10px 0 0;

}

.dwa {
    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: middle;
    background-color: rgba(95, 95, 150, 0.308);
    padding: 0.5%;
    margin: 0.5%;
    border-radius: 5px;
    transition: 1.5s;
    max-width: 40%;
    font-size: 14px;
}

.moi {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 1%;
    margin: 3%;
    transition: 1s;
}

.moi:hover {
    transform: scale(1.05);
}

footer {
    font-size: 10px;
    background-color: #eeedff;
}

.stopa {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    position: relative;
    background-color: #eeedff;
}

.sto {
    margin: 0.5%;
}

.facebook {

    position: absolute;
    top: 4.8%;
    right: 5.5%;
    cursor: pointer;
    transition: 1s;
}

.facebook:hover {
    scale: 1.2;
}

.x {
    transition: 1s;
}

.x:hover {
    scale: 1.2;
}

.dwa:hover  {
    background-color: rgba(191, 191, 216, 0.897);
    scale: 1.05;
    box-shadow: -1px 5px 15px black;
}

.menu-icon:hover{
    scale: 1.15;
}

.slide{
    width: 500px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 80%;
    left: 50%;
    overflow: hidden;
    border: 10px solid #ffffff;
    border-radius: 8px;
    box-shadow: -1px 5px 15px black;
    background-color: #eeedff;
}

.wrapper{
    width: 100%;
    display: flex;
    animation: slide 18s alternate infinite;
    animation-delay: 3s;
}

.wrapper img {
    width: 100%;
}

@keyframes slide {
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(-200%);
    }
}

.wrapper:hover {
    animation-play-state: paused;
}

.gdzie {
    display: flex;
    margin-top: 10px;
    margin-left: 1%;
    position: absolute;
    text-decoration: none;
    color: rgb(88, 88, 88);
    background-color: transparent;
    
}

.gdzie p {
    margin: 2px;
}

.gdzie a {
    color: rgb(88, 88, 88);
    text-decoration: none;
}

.gdzie a:hover {
    color: rgb(36, 36, 36);
}
