body {
    font-family: Arial;
    background-color: #e0e8ff;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='16' viewBox='0 0 12 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 .99C4 .445 4.444 0 5 0c.552 0 1 .45 1 .99v4.02C6 5.555 5.556 6 5 6c-.552 0-1-.45-1-.99V.99zm6 8c0-.546.444-.99 1-.99.552 0 1 .45 1 .99v4.02c0 .546-.444.99-1 .99-.552 0-1-.45-1-.99V8.99z' fill='%2334a2ff' fill-opacity='0.16' fill-rule='evenodd'/%3E%3C/svg%3E");
    padding: 40px 0;
}

h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

h2 {
    font-size: 26px;
}

h3 {
    margin-top: 5px;
}

span {
    color: grey;
}

.container {
    box-shadow: 0 0 20px grey;
    width: 960px;
    margin: 0 auto;
    background-color: white;
    border-radius: 30px;
}

header,
section {
    padding: 10px 40px 20px 40px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 60px;
}

header ul {
    list-style: none;
}

li {
    margin-bottom: 15px;
}

.address-icon {
    width: 15px;
    height: 16px;
    background-color: cornflowerblue;
    margin-right: 10px;
    padding: 8px;
    vertical-align: middle;
}

.circle {
    border-radius: 50%;
}

.profile-picture {
    width: 180px;
    height: 260px;
}

.hobbies {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.hobbies li {
    width: 50%;
    display: flex;
    align-items: flex-start;
    margin-bottom: 40px;
}

.hobbies div {
    margin-left: 20px;
}

.hobbies p {
    color: grey;
}

p {
    line-height: 1.5;
}

.film {
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}