body {
    background-color: rgba(0, 255, 255, 0.13);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    height: 70px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    position: absolute;
    opacity: 90%;
}

h1 {
    color: white;
    margin-left: 15%;
}

.dropbt {
    background-color: #04AA6D;
    color: white;
    padding: 17px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
  }

.drop {
    position: relative;
    display: inline-block;
}

.drop-zawartosc {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
    left: auto;
    margin-right: 10px;
}

.drop-zawartosc a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.drop:hover .drop-zawartosc {
    display: block;
}

.drop:hover .dropbt {
    background-color: #3e8e41;
}

.drop-zawartosc a:hover {
    background-color: rgb(138, 138, 138);
}

.rozwijanie {
    margin-top: 10%;
    margin-left: 10%;
    border: none;
    background-color: #04AA6D;
    padding: 9px;
    cursor: pointer;
    border-radius: 10px;
    pointer-events: auto;
}

.aktualnoscizawartosc {
    background-color: rgba(0, 0, 0, 0.89);
    color: white;
    margin: 10%;
    margin-top: 0.5%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    display: none;
    padding: 2.5%;
    border-radius: 20px;
    transition: 1s;
}

.wartosc1 {
    padding: 0.9%;
    margin: 1%;
    background-color: #235224;
    border-radius: 15px;
    transition: 1s;
    display: flex;
    flex-wrap: wrap;
}

.wartosc1 img {
    scale: 100%;
    margin: 0.1%;
    padding: 0.1%;
    max-width: 50%;
}

.rozwijanie:focus + .aktualnoscizawartosc {
    display: block;
    max-width: 67%;
}

.rozwijanie:hover {
    background-color: #3e8e41;
}

.wartosc1:hover {
    scale: 1.05;
    background-color: #289429;
}

.malo {
    padding: 0.5%;
    margin: 1%;
    font-size: 20px;
}

.aktualnoscizawartosc:hover {
    scale: 1.1;
}

@keyframes shake {
    25% {transform: translateX(4px);}
    50% {transform: translateX(-4px);}
    75% {transform: translateX(4px);}
}

.dropbt:focus {
    animation: shake .3s;
}

.rozwijanie:focus {
    animation: shake .3s;
}

.gdzie {
    display: flex;
    margin-top: 93px;
    margin-left: 1%;
    position: absolute;
    text-decoration: none;
    color: rgb(88, 88, 88);
    background-color: transparent;
    
}

.gdzie p {
    margin: 2px;
}

.gdzie a {
    color: rgb(88, 88, 88);
    text-decoration: none;
}

.gdzie a:hover {
    color: rgb(36, 36, 36);
}