body {
    background-color: rgb(171, 209, 209);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
}

nav {
    height: 70px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    position: relative;
    opacity: 90%;
    margin: 0px;
    padding: 0px;
}

.dropbt {
    background-color: #04AA6D;
    color: white;
    padding: 17px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
  }

.drop {
    position: relative;
    display: inline-block;
}

.drop-zawartosc {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
    left: auto;
    margin-right: 10px;
}

.drop-zawartosc a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.drop:hover .drop-zawartosc {
    display: block;
}

.drop:hover .dropbt {
    background-color: #3e8e41;
}

.drop-zawartosc a:hover {
    background-color: rgb(138, 138, 138);
}

.gdzie {
    display: flex;
    margin-top: 93px;
    margin-left: 1%;
    position: absolute;
    text-decoration: none;
    color: rgb(88, 88, 88);
    background-color: transparent;
    
}

.gdzie p {
    margin: 2px;
}

.gdzie a {
    color: rgb(88, 88, 88);
    text-decoration: none;
}

.gdzie a:hover {
    color: rgb(36, 36, 36);
}

h1 {
    color: white;
    margin-left: 15%;
}

@keyframes shake {
    25% {transform: translateX(4px);}
    50% {transform: translateX(-4px);}
    75% {transform: translateX(4px);}
}

.dropbt:focus {
    animation: shake .3s;
}

nav span {
    color: #02a86b;
}

nav span:hover {
    cursor: pointer;
    color: #00e28f;
}

.container {
    box-shadow: 25px 25px 25px 20px grey;
    width: 60%;
    background-color: rgb(128, 156, 156);
    position: relative;
    margin-top: 300px;
    margin-left: 20%;
    border-radius: 10px;
    margin-bottom: 30px;
}

.wyspy {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-around;
    justify-content: center;
    align-items: center;
}

.tresc {
    background: linear-gradient(to bottom,  rgb(88, 88, 88) 0%,rgb(29, 29, 29) 100%);
    opacity: 95%;
    border-radius: 10px;
    margin: 20px;
    padding: 15px;
    color: white;
    box-shadow: 0px 6px 10px 2px grey;
    transition: 1s;
    width: auto;
}

li {
    list-style: decimal;
}

.tresc a {
    text-decoration: none;
    color: white;
}